<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://code.jquery.com/jquery-2.1.0.min.js" ></script>
<body>
<div id="formWrapper">
  <div id="form">
    <div class="logo">
      <%= image_tag('logo.png', :size => '128x128', :alt => 'アイコン') %>
      <h1 class="text-center head">TYC管理システム</h1>
      <h2 class="text-center head">パスワードを忘れた場合</h2>

      <br>
      <p>パスワードを忘れた方はTYC管理システム担当者にご連絡ください</p>
    </div>
  </div>
</div>
</body>
</html>

<style>
  body {
    background: url(http://www.timurtek.com/wp-content/uploads/2014/10/form-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'HelveticaNeue', 'Arial', sans-serif;

  }

  a {
    color: #58bff6;
    text-decoration: none;
  }

  a:hover {
    color: #aaa;
  }

  div.logo {
    text-align: center;
    margin: 20px 20px 30px 20px;
    fill: #566375;
  }

  .head {
    padding: 40px 0px 10px 0px
  }

  #formWrapper {
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
  }

  div#form {
    position: absolute;
    width: 400px;
    height: auto;
    background-color: #fff;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -275px;
  }

  input {
    transition: all .2s ease;
  }
</style>